* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(177.52deg, #553F0B 2.11%, #D5BD87 81.34%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
    padding: 20px;
}

h2, footer {
    font-family: 'Mansalva';
}

.container-principal {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

button {
    border: none;
    background-color:  #332400;
}

.button.is-primary {
    background-color: #332400;
}

.button.is-primary:hover{
    background-color:#553F0B ;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px #553F0B;
    padding: 10px 0;
}

input {
    border: none;
    background: none;
    color: #D5BD87;
    width: 100%;
}

input:disabled {
    border: none;
    background: none;
    color: #D5BD87;
}


.fundo-marrom {
    background: #332400;
    border-radius: 12px;
    border: 2px solid #D5BD87;
    width:100%;
    padding: 20px;
}

.item-compra div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer {
    margin-top: 20px;
}

@media screen and (max-width: 320px) {
      body {
        padding: 10px;
    }

    .container-principal {
        width: 100%;
    }

    .fundo-marrom {
        padding: 12px;
        border-radius: 8px;
    }

    h2 {
        font-size: 1em !important;
    }

    input {
        font-size: 14px;
    }

    button {
        width: 100%;
        font-size: 14px;
    }

   footer {
    font-size: 12px;
   }

}